<div class="container">
  <div *ngIf="stories && searchCriteria">
    <hn-search (onSearch)="search($event)" [data]="stories" [searchCriteria]="searchCriteria"></hn-search>
  </div>
</div>

<div class="container">
  
  <mat-table  [dataSource]="dataSource" *ngIf="stories">
      
    <ng-container matColumnDef="index">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element; let i = index">{{i + (paginator.pageIndex * paginator.pageSize)+1}}.</td>
    </ng-container>

    <ng-container matColumnDef="story" >
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let story">
        <div class="story-title">
          <a href="{{story?.url}}" class="title" target="blank">{{story?.title}}</a>
          <a href="{{story?.url}}" class="domain" target="blank"> ({{story?.url | shortDomain}})</a>
        </div>
        <div class="story-details">
          <i class="fas fa-sort-up" title="upvote" (click)="vote(story.id)" *ngIf="currentUser && (!story?.vote || story?.vote === false)"></i>
          <i class="fas fa-sort-up" title="upvote" [routerLink]="['/login']" *ngIf="!currentUser && (!story?.vote || story?.vote === false)"></i>
          <span> {{story?.score}} points by </span>
          <a href="" *ngIf="story" [routerLink]="['/user/', story?.by]">{{story?.by}}</a> |
          <span> {{story?.time | amFromUnix | amTimeAgo}} | </span>
          <span  class="unvote" (click)="unvote(story.id)" *ngIf="story?.vote === true">unvote | </span>
          <span (click)="hideStory(story.id)" class="hide" *ngIf="currentUser">hide |</span>
          <span [routerLink]="['/login']" class="hide" *ngIf="!currentUser">hide |</span>
          <a [routerLink]="[story?.id, 'comments']" *ngIf="story">
            <span *ngIf="story?.descendants !== 0">
                {{story?.descendants}} 
                <span *ngIf="story?.descendants === 1">comment</span>
                <span *ngIf="story?.descendants > 1">comments</span>
            </span>
            <span *ngIf="story?.descendants === 0">discuss</span>
        </a>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </mat-table>
    
  <mat-paginator [pageSizeOptions]="[30, 60, 90]" showFirstLastButtons></mat-paginator>

</div>