@import "../../../styles/variables";

mat-table {
    width: 100%;
    color: $secondFontColor;
    font-size: 12px;
    .mat-header-cell {
        display: none;
    }
    .mat-cell {
        border: none;;
        padding: 10px;
        color: $secondFontColor;

        &:first-child {
            font-size: 17px;
            text-align: right;
        }
        .title {
            font-size: 17px;
            color: $mainFontColor;
            &:hover {
                text-decoration: none;
            }
        }
        .domain {
            font-size: 15px;
        }
        .story-details {
            color: $secondFontColor;
            font-size: 13px;
            .hide, .unvote {
                cursor: pointer;
                &:hover {
                    text-decoration: underline;
                }
            }
            i {
                margin-top: 10px;
            }
        }
    }
}