@import "../../../../styles/variables";

a, p {
    color: $secondFontColor;
    font-size: 13px;
}
form {
    width: 100%;
    button {
        background-color: $orangeBg;
        color: $headerColor;
        padding: 5px 20px;
        border: none;
        border-radius: 4px;
        outline: none;
        margin: 20px 0 50px;
        &:hover {
            font-weight: bold;
            border: none;
            color: $headerColor;
        }
    }
    textarea {
        width: 100%;
        border-radius: 2px;
        min-height: 120px;
        padding: 10px;
    }
}