<div class="container">
    <form [formGroup]='commentForm' (submit)="onSubmit()">
        <div class="form-group">
            <textarea _ngcontent-pdb-c136 matInput type="text" placeholder="comment..." formControlName="text"></textarea>
            <small class="text-danger" *ngIf="commentForm.controls.text.touched && commentForm.controls.text.errors?.required">
            Username is required</small>
        </div>
        <p>	If you haven't already, would you mind reading about HN's 
            <a href="https://news.ycombinator.com/newswelcome.html" target="_blank">approach to comments</a> and
            <a href="https://news.ycombinator.com/newsguidelines.html" target="_blank">site guidelines?</a></p>
        <button type="submit" class="btn"[disabled]="commentForm.invalid">Add Comment</button>
    </form>
</div>