<hr>
<nav class="navbar navbar-expand-md">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="#">Guidelines</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">FAQ</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">API</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Security</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Lists</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Bookmarklet</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Legal</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Apply to YC</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
        </li>
    </ul>
</nav>
