@import "../../../styles/variables";

hr {
    width: 100%;
    height: 2px;
    background: $orangeBg;
    margin-top: 20px;
}

.navbar {
    margin-bottom: 20px;
    ul {
        margin: 0 auto;
        li {
            border-right: 1px solid $secondFontColor;
            &:last-child {
                border-right: none;
            }
        }
    }
    a {
        color: $mainFontColor;
        padding-bottom: 0px;
        padding-top: 0px;
        &:hover, &:active, &:focus {
            color: $secondFontColor;
            text-decoration: none;
        }
    }
    .mr-auto {
        margin-right: 0px;
    }
}

@media (max-width: 767px) {    
    .navbar {
        ul {
            flex-flow: row wrap;
            display: flex;
            justify-content: center;
            li { 
                padding: 0 5px;
            }
        }
        
    } 
}