<div class="container" *ngIf="user">
    <div class="user-information">
        <p><b>User: </b>{{user.id}}</p>
        <p><b>Created: </b>{{user.created | amFromUnix | date}}</p>
        <p *ngIf="user.karma"><b>Karma: </b>{{user.karma}}</p>
        <span><b>About: </b></span><span *ngIf="user.about" [innerHTML]="user.about"></span>
    </div>
</div>