@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

html, body { 
    height: 100%; 
}
body { 
    margin: 0; 
    font-family: 'Open Sens', sans-serif;
    color: $mainFontColor;
}
a {
    color: $secondFontColor;
    &:hover {
        color: $secondFontColor;
    }
}