<div class='wrong-route'>
    <img src="../../../assets/images/hacker-news-logo-png-9-transparent.png" alt="hackerNewsLogo">
    <h2>PAGE NOT FOUND<p>Sorry. The page you have requested is unavailable.</p></h2>
</div>