@import "../../../styles/variables";

h5 {
    color: $orangeBg;
    margin: 20px 0;
}
button {
    background-color: $orangeBg;
    color: $headerColor;
    padding: 5px 20px;
    border: none;
    border-radius: 4px;
    outline: none;
    margin: 20px 0;
    &:hover{
        font-weight: bold;
        border: none;
        color: $headerColor;
    }
}
input {
    width: 200px;
    border-radius: 2px;
}