<div class="container">
    <div class="row">
        <div class="col">
            <h5>Login</h5>

            <form [formGroup]='loginForm' (submit)="onSubmit()">
                <div class="form-group">
                    <input _ngcontent-pdb-c136 matInput type="text" placeholder="username" formControlName="username">
                    <small class="text-danger" *ngIf="loginForm.controls.username.touched && loginForm.controls.username.errors?.required">
                    Username is required</small>
                </div>
                <div class="form-group">
                    <input _ngcontent-pdb-c136 matInput type="password" placeholder="password" formControlName="password">
                    <small class="text-danger" *ngIf="loginForm.controls.password.touched && loginForm.controls.password.errors?.required">
                    Password is required</small>
                </div> 
                <button type="submit" class="btn"[disabled]="loginForm.invalid">login</button>
              </form>
        
            <p class="text-danger" *ngIf="!hasUser">Bad login!</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h5>Create Account</h5>

            <form [formGroup]='createAccountForm' (submit)="createAccount()">
                <div class="form-group">
                    <input _ngcontent-pdb-c136 matInput type="text" placeholder="username" formControlName="username">
                    <small class="text-danger" *ngIf="createAccountForm.controls.username.touched && createAccountForm.controls.username.errors?.required">
                    Username is required</small>
                </div>
                <div class="form-group">
                    <input _ngcontent-pdb-c136 matInput type="password" placeholder="password" formControlName="password">
                    <small class="text-danger" *ngIf="createAccountForm.controls.password.touched && createAccountForm.controls.password.errors?.required">
                    Password is required</small>
                </div> 
                <button type="submit" class="btn"[disabled]="createAccountForm.invalid">create account</button>
              </form>
        </div>
    </div>
</div>

