<div class="wrap">
  <div class="row">
    <div class="col">
      <hn-header></hn-header>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <hn-footer></hn-footer>
    </div>
  </div>
</div>