<div class="container">
    <div class="comment-header">
        <span *ngIf="parentComment"><a href="" [routerLink]="['/user/', parentComment?.by]">{{parentComment?.by}}</a></span>
        <span *ngIf="parentComment"> {{parentComment?.time | amFromUnix | amTimeAgo}} </span>
        <span *ngIf="story">| on: <a href="" [routerLink]="[story?.id, 'comments']">{{story?.title}}</a></span>
    </div>
    <div class="comment-body">
        <p *ngIf="parentComment" [innerHTML]="parentComment?.text" class="text"></p>
    </div>
    <form [formGroup]='commentForm' (submit)="onSubmit()">
        <div class="form-group">
            <textarea _ngcontent-pdb-c136 matInput type="text" placeholder="comment..." formControlName="text"></textarea>
            <small class="text-danger" *ngIf="commentForm.controls.text.touched && commentForm.controls.text.errors?.required">
            Username is required</small>
        </div>
        <p>	If you haven't already, would you mind reading about HN's 
            <a href="https://news.ycombinator.com/newswelcome.html" target="_blank">approach to comments</a> and
            <a href="https://news.ycombinator.com/newsguidelines.html" target="_blank">site guidelines?</a></p>
        <button type="submit" class="btn" [disabled]="commentForm.invalid">Reply</button>
    </form>
</div>
