@import "../../../styles/variables";

.navbar {
    background: $orangeBg;
    button {
        font-size: 22px;
        &:focus {
            outline: none;
        }
        i {
            color: $headerColor;
        }    
    }
    li {
        border-right: 1px solid $headerColor;
        &:last-child {
            border-right: none;
        }
    }
    a {
        color: $headerColor;
        padding-bottom: 0px;
        padding-top: 0px;
        &:hover, &:active, &:focus {
            font-weight: bold;
            text-decoration: none;
        }
        &.login {
            &:hover, &:active, &:focus {
                font-weight: normal;
                text-decoration: underline;
            }
        }
    }
    span {
        color: $headerColor;
    }
    .navbar-brand {
        img {
            width: 25px;
        }
        h1 {
            display: inline;
            padding: 0 10px;
            font-size: 20px;
            color: $headerColor;
            font-weight: bold;
        }
    }
}


@media (max-width: 767px) {    
    .navbar {
        li {
            border-right: none;
            padding-top: 10px;
        }
    } 
}