<nav class="navbar navbar-expand-md">
	<a class="navbar-brand" [routerLink]="['stories']">
		<img src="../../../assets/images/logo.jpg" alt="hackerNewsLogo">
		<h1>Hacker News</h1>
	</a>
	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
		<i class="fas fa-bars"></i>
	</button>

	<div class="collapse navbar-collapse" id="navbar">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" href="#" [routerLink]="['/stories']">new</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">past</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">comments</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">ask</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">show</a>
			</li>
				<li class="nav-item">
			<a class="nav-link" href="#">jobs</a>
				</li>
			<li class="nav-item">
				<a class="nav-link" href="#">submit</a>
			</li>
		</ul>
		<ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<a href="" *ngIf="!currentUser" [routerLink]="['/login']" class="login">login</a>
				<a *ngIf="currentUser" [routerLink]="['/user/', currentUser?.id]" class="login">{{currentUser.id}} | </a> 
				<a href="" class="login" *ngIf="currentUser" (click)="logout()">logout</a>
			</li>
		</ul>
	</div>
</nav>