@import "../../../styles/variables";

li {
    list-style-type: none;
}
.comment-header {
    color: $secondFontColor;
    i {
        color: $orangeBg;
        margin-right: 10px;
        &.fa-sort-up {
            color: $secondFontColor;
        }
    }
    .unvote {
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
    .showBody {
        background-color: $orangeBg;
        color: $headerColor;
        margin-left: 10px;
        padding: 0px 5px;
        width:20px;
        height: 20px;
        
        &:hover, &:active, &:focus {
            font-weight: bold;
        }
     }
}
.comment-body {
    color: $mainFontColor;
    line-height: 1.3;
    overflow-wrap: break-word;
    .reply {
        text-decoration: underline;
        margin-bottom: 10px;
        display: block;
    }
}