<div *ngIf="comment">
    <div class="comment-header">
        <i class="fas fa-comment-dots"></i>
        <i class="fas fa-sort-up" title="upvote" (click)="vote()" *ngIf="!hasVote && currentUser"></i>
        <i class="fas fa-sort-up" title="upvote" [routerLink]="['/login']" *ngIf="!hasVote && !currentUser"></i>
        <span *ngIf="comment"><a href="" [routerLink]="['/user/', comment?.by]">{{comment.by}}</a></span>
        <span *ngIf="comment"> {{comment.time | amFromUnix | amTimeAgo}} </span>
        <span  class="unvote" (click)="vote()" *ngIf="hasVote">| unvote</span>
        <a (click)="toggleCommentBody()" class="showBody" *ngIf="show">-</a>
        <a (click)="toggleCommentBody()" class="showBody" *ngIf="!show">+</a>
    </div>
    <div class="comment-body">
        <p [innerHTML]="comment.text" *ngIf="show" class="text"></p>
        <a href="" *ngIf="currentUser" [routerLink]="[comment?.id]" class="reply">reply</a> 
        <ul *ngIf="comment.hasOwnProperty('kids')">
            <li *ngFor="let id of comment.kids">
                <hn-comment commentId = "{{id}}" *ngIf="show"></hn-comment>
            </li>
        </ul>
    </div>
</div>