<div *ngIf="story">
    <div class="container">
        <div class="story-title">
            <a href="{{story.url}}" class="title" target="blank">{{story.title}}</a>
            <a href="{{story.url}}" class="domain" target="blank"> ({{story.url | shortDomain}})</a>
        </div>
        <div class="story-details">
            <span>{{story.score}} points by </span>
            <a href="">{{story.by}} |</a>
            <span> {{story.time | amFromUnix | amTimeAgo}} |</span>
            <a [routerLink]="['/comments', story.id]">
                <span *ngIf="story.descendants !== 0">
                    {{story.descendants}} 
                    <span *ngIf="story.descendants === 1">comment</span>
                    <span *ngIf="story.descendants > 1">comments</span>
                </span>
                <span *ngIf="story.descendants === 0">discuss</span>
            </a>
        </div>
    </div>
    <div class="container" >
        <hn-add-comment [story]="story"></hn-add-comment>
    </div>
    <ul *ngIf="story.hasOwnProperty('kids')" class="comment-tree">
        <li *ngFor="let id of story.kids; let i = index">
            <div *ngIf="i < numComments" class="container">
                <hn-comment commentId="{{id}}" ></hn-comment>
            </div>
        </li>
    </ul>
    <div class="container">
        <button  *ngIf="showButton" (click)="showMoreComments()">More</button>
    </div>
</div>