@import "../../../styles/variables";

ul, li {
    list-style-type: none;
    padding-left: 0; 
}
button {
    background-color: $orangeBg;
    color: $headerColor;
    padding: 5px 20px;
    border: none;
    border-radius: 4px;
    outline: none;
    &:hover{
        font-weight: bold;
        border: none;
    }
}
.story-title {
    margin-top: 30px;
    .title {
        font-size: 18px;
        color: $mainFontColor;
        &:hover {
            text-decoration: none;
        }
    }
}
.story-details {
    color: $secondFontColor;
    font-size: 14px;
    margin-bottom: 30px;
}
.comment-tree{
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}